.meeting-rooms {
    display: flex;
    flex-wrap: wrap;
}
.meeting-rooms > .item {
    padding: 10px;
    flex: 1 0 25%;
    margin: 4px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
.meeting-rooms > .item > h3 {
    margin-bottom: 10px;
}
.scheduled-slots {
    list-style: none;
    text-align: left;
}
.scheduled-slots > li {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.scheduled-slots div.scheduled-date,
.scheduled-slots div.scheduled-time  {
    flex-basis: 120px;
}
.scheduled-slots div.scheduled-user {
    flex-basis: 200px;
}
.scheduled-slots div.action-btns {
    flex-basis: 50px;
}
.scheduled-slots div.scheduled-agenda {
    flex: 1;
}
.slot-search {
    display: flex;
    text-align: left;
    padding: 20px 4px;
    flex-wrap: wrap;
}
.slot-search > div {
    margin-right: 20px;
}
select {
    display: block;
}
.status {
    padding-top: 10px;
    align-items: center;
}
.status > span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ccc;
    border-radius: 50%;
}
.status.available > span {
    background: green;
}
.status.booked > span {
    background: red;
}
input, select {
    padding: 6px;
}
.check-availability {
    padding: 8px 20px;
    background: #2196f3;
    color: #fff;
    border: 0px;
    align-self: flex-end;
    cursor: pointer;
}